<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hesen.blog.dao.UserMapper">
    <sql id="basicColumn">
        id, nickname, username, password, email, avatar, `type`, create_time, update_time
    </sql>

    <select id="selectByUsernameAndPassword" resultType="com.hesen.blog.po.User">
        select
        <include refid="basicColumn"/>
        from t_user
        where username = #{username}
        and password = #{password}
    </select>

</mapper>